.content{
	background: #fff;
}
.content_top{
	width: 1170px;
	padding: 10px 0;
	margin: 0 auto;
	font-size: 13px;
}
.content_top a{
	font-size: 13px;
	color: #000;
	font-weight: 700;
	margin: 0 10px;
}
.content_top a:first-child{
	margin-left: 10px;
}

.bg_content{
	width: 1170px;
	margin: 0 auto 30px;
	background: #fff;
	overflow: hidden;
}
/*content_left*/
.content_left{
	float: left;
	width: 10%;
	padding: 0 10px;
	margin-top: 30px;
}
.navUls{
	border-bottom: 1px solid black;
	padding-bottom: 8px;
	margin-bottom: 8px;
}
.navUls_last{
	border-bottom: none;
}
.navUls a{
	font-size: 13px;
	color: #000;
	line-height: 25px;
}
.navLi0{
	font-size: 14px;
}
.navLi{
	text-indent: 5px;
}
#focusLi{
	list-style-type: disc;
	font-weight: 800;
	text-decoration: underline;
}
.focus_Span{
	display: inline-block;
	width: 20px;
	height: 10px;
	font-size: 9px;
	line-height: 9px;
	background: #369;
	color: #fff;
	margin-left: 5px;
}
/*content_mid*/
.content_mid{
	float: left;
	width: 70%;
	margin-top: 20px;
	margin-left: 50px;
	position: relative;
}
.cm_top{
	overflow: hidden;
	width: 100%;
	margin-bottom: 30px;
}
.cm_left{
	float: left;
}
.orangeNew{
	position: absolute;
	top: 0;
	background: url(../img/viewitem.gif)no-repeat ;
	margin: 0 0 0 -5px;
	height: 30px;
	color: #FFFFFF;
	z-index: 2;
	padding: 0 5px;
	font-size: 12px;
}
.cml_bigImg{
	width: 310px;
	height: 403px;
	background: #fff;
	cursor: pointer;
	position: relative;
}
.cml_showBox{
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 100px;
	opacity: .5;
	background: blue;
	display: none;
}
.cml_mirrorImg{
	width: 403px;
	height: 413px;
	background: url(../img/400711RED_APPLE_M_1500_1_181107.jpg)no-repeat;
	position: absolute;
	left: 310px;
	top: 0;
	z-index: 5;
	display: none;
}
.cml_sImgList{
	width: 310px;
	height: 65px;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}
.cmls_arrowleft{
	width: 20px;
	height: 65px;
	cursor: pointer;
	background: url(../img/viewitem.gif)no-repeat -143px 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}
.cmls_imgList{
	width: 2700px;
	overflow: hidden;
	position: absolute;
	left: 25px;
	top: 2px;
}
.cmls_uls{
	float: left;
	width: 270px;
}
.cmls_uls li{
	float: left;
	width: 45px;
	margin-right: 9px;
}
.cmls_uls li img{
	display: block;
	width: 45px;
	height: 60px;
}
.cmls_arrowright{
	width: 20px;
	height: 65px;
	cursor: pointer;
	background: url(../img/viewitem.gif)no-repeat -194px 0;
	position: absolute;
	right: -1px;
	top: 0;
	z-index: 5;
}

.cm_right{
	float: left;
	/*width: 420px;*/
	padding-left: 30px;
}
.cm_right h4{
	font-size: 18px;
	color: #369;
}
.cm_right p{
	/*line-height: 35px;*/
	margin: 15px 0;
	font-size: 14px;
	color: #000;
}
.cm_right .cmr_fP{
	color: #A0000A;
}
.cm_right .cmr_sP{
	color: #666;
	margin-top: -17px;
}
.cmr_foP a{
	float: right;
}
.cmr_foP a:hover{
	color: #23527c;
}
.cmr_sixP{
	overflow: hidden;
}
.cmr_sixP .colorBox{
	display: inline-block;
	width: 33px;
	height: 33px;
	border: 1px solid #000;
    line-height: 23px;
    text-indent: -999999px;
    margin: 0 10px 2px 0;
    cursor: pointer;
}
.cmr_sixP .colorBox1{
	background: #23326d;
}
.cmr_sixP .colorBox2{
	background: grey;
}
.cmr_sixP .colorBox:hover{
	border: 1px solid #ccc;
	transform: scale(1.1);
	transition: all .3s;
}
.cm_right ul{
	overflow: hidden;
}
.cm_right ul a{
	float: left;
	width: 30%;
	height: 30px;
	margin: 0 10px 5px 0;
	border: 1px solid #000;
	font-size: 13px;
	color: #000;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
	transition: all .3s;
	transform: scaleX(1);
}
.cm_right ul a:hover{
	background: #cce6ff;
	transition: all .3s;
	transform: scaleX(1.1);
}
.cm_right .focus_largenum{
	color: #ccc;
	text-decoration: line-through;
	pointer-events: none;
}
.cmr_eP{
	overflow: hidden;
	text-align: center;
	font-size: 13px;
	margin-top: 10px;
}
.goodsNumcont,.goodsNumList,.goodsNumcontent{
	float: left;
	line-height: 40px;
}
.goodsNumList{
	border: 1px solid #000;
	overflow: hidden;
	width: 40px;
	height: 40px;
	background: #eaeaea;
	position: relative;
	margin-right: 5px;
}
.goodsNum{
	float: left;
	background: #fff;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	position: absolute;
}
.goodsNum1{
	left: 0;
}
.goodsNum2{
	left: 40px;
}
.goodsNum3{
	left: 80px;
}
.goodsNum4{
	left: 120px;
}
.cm_right .cmr_tenP button{
	width: 47%;
	height: 40px;
	outline: 0;
	border: none;
	cursor: pointer;
}
.cmr_nineP{
	padding: 0 13px 5px 5px;
	text-align: right;
}
#pirceAllSpan{
	font-size: 20px;
	color: #A0000A;
}
.cmr_tenP .buttBuy{
	margin-right: 10px;
	color: #898989;
	border: 1px solid #898989!important;
	background: #fff;
}
.cmr_tenP .buttBuy:hover{
	transition: all .5s;
	border: 1px solid #f34d00!important;
    color: #f34d00!important;
}
.cmr_tenP .buttJoinCar{
	background: #898989;
	color: #fff;
}
.cmr_tenP .buttJoinCar:hover{
	transition: all .5s;
	background: #f34d00!important;
}

/*cm_bottom*/
.cm_bottom{
	position: relative;
}
.cmb_tabs{
	overflow: hidden;
	width: 100%;
	height: 27px;
	position: absolute;
	top: -26px;
	z-index: 4;
}
.cmb_tabs a{
	color: #000;
}
.cmbt_tit{
	border: 1px solid #ccc;
	font-size: 13px;
	color: #000000;
	margin-right: 10px;
	padding: 4px 6px;
	position: absolute;
	top: 0;
}
.cmbt1{
	left: 20px;
	border-bottom: 1px solid #fff;
}
.cmbt1 a{
	color: #369;
}
.cmbt2{
	left: 95px;
}
.cmbt3{
	left: 172px;
}
.cmb_content{
	border: 1px solid #ccc;
}
.cmbc_info{
	padding: 0 10px;
}
.cmbc_info h5{
	font-size: 14px;
	font-weight: 100;
	color: #000;
	line-height: 28px;
}
.cmbc_info p{
	font-size: 14px;
	color: #666;
	line-height: 28px;
}
.cmbc1 img:nth-child(1),.cmbc1 img:nth-child(2),.cmbc1 img:nth-child(3),.cmbc1 img:nth-child(4),.cmbc1 img:nth-child(5){
	margin: 20px 0;
}
.cmbc1 img{
	width: 100%;
	display: block;
}
.cmbc2,.cmbc3{
	padding: 20px 10px;
	display: none;
}


/*content_right*/
.content_right{
	float: right;
	width: 12%;
	margin-top: 20px;
	padding: 5px;
}
.cr_top{
	margin-bottom: 15px;
}
.cr_top p{
	font-size: 13px;
	color: #000741;
}
.cr_youLike{
	font-weight: 700;
	padding-bottom: 3px;
	border-bottom: 1px solid #000741;
}
.cr_bottom ul li{
	margin-bottom: 15px;
}
.cr_bottom ul li a{
	font-size: 13px;
}
.cr_bottom ul li p{
	font-size: 13px;
	color: #666;
}
